//colors
$lightGrey: #F8F8F8;
$darkGrey: #7c7c7c;
$white: #FFFFFF;
$lillydooBlue: #00afab;
$lightBlue: #99dfdd;
$darkerBlue: #009793;
$transparentWhite: rgba(255, 255, 255, 0.7);

//padding & margin
$sectionPadding: 24px 14px 24px;
$sectionPaddingXsToMd: 24px 14px 24px;
$containerPadding: 24px;
$containerPaddingXsToMd: 16px 0;

//width height
$containerMaxWidth: 80rem;

//breakpoint
$screen-md-max: 833px;