<template>
    <div class="grid">
        <img :src="imageUrl" :alt="title" class="content">
        <div class="description">
            <h3 class='uppercase' v-html="title"></h3>
            <ul>
                <li 
                    v-for="(description, index) in descriptions"
                    v-bind:key="index"
                    v-html="description"
                ></li>
            </ul>
        </div>        
    </div>
</template>

<script>
export default {
    name: 'ContentTrialbox',
    props: [ "title", "imageUrl", "descriptions"]  
}
</script>

<style lang="scss">
    @import '../../public/variables.scss';
    @import '../../public/mixins.scss';

    .grid {
        display: grid;
        grid-template-columns: 26% 74%;
        grid-gap: 12px;
        width: 100%;
        img.content {
            object-fit: contain;
            width: 100%;
            margin: 16px 16px 16px 0;
        }
        div.description {
            padding-right: 28px;
            @include xs-md {
                padding-right: 12px;
            }
        }
    }
</style>