<template>
    <div
        v-on:click="$emit('select-trialbox', trialbox.option)" 
        class="select-trial-button" 
        v-bind:class="[selectedTrialboxOption == trialbox.option ? selectedClass : '']"
    >
        <p class="option">{{ trialbox.option }}</p>
        <p class="size">({{ trialbox.size }})</p>
    </div>
</template>

<script>
export default {
    name: 'SelectTrialbox',
    props: [ "trialbox", "selectedTrialboxOption"],
    data: function() {
        return {
            selectedClass: "selected"
        }
    }
  
}
</script>

<style lang="scss">
  @import '../../public/variables.scss';
  @import '../../public/mixins.scss';

    .select-trial-button {
        color: $darkGrey;
        border: 1px solid $darkGrey;
        padding: 8px 4px 6px;
        font-weight: 200;
        text-align: center;
        cursor: pointer;
        @include xs-md {
            padding: 10px 4px 8px;
        }
    }

    .select-trial-button:hover, .selected {
        background-color: $lillydooBlue;
        border: none;
        color: $white;
    }

    p.option {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0 0 2px;
        @include xs-md {
            margin: 0 0 4px;
        }        
    }

    p.size {
        font-size: 0.8rem;
        margin: 0px;
        line-height: 1;
    }
</style>