<template>
    <div class="trial-step">
        <img :src="trialStep.imageUrl" :alt="trialStep.title">
        <h3 class='uppercase' v-html="trialStep.title"></h3>
        <p class="trial-step-description" v-html="trialStep.description"></p>
        <a 
            href="" 
            v-if="trialStep.linkText"
            class="primary-color no-text-dec trial-step"
        >
            {{ trialStep.linkText }}
        </a>
    </div>
</template>

<script>
export default {
    name: 'TrialStep',
    props: [ "trialStep"]  
}
</script>

<style lang="scss">
    @import '../../public/variables.scss';
    @import '../../public/mixins.scss';
    
    div.trial-step {
        display: block;
        margin-bottom: 16px;
        .trial-step-description, a.trial-step {
            @include pre-wrap;
        }
        a {
            margin: 8px auto 14px;
            margin-bottom: 16px;
            display: inline-block;
        }
        img {
            width: 20%;
            min-width: 64px;
        }
    }
</style>