<template>
  <div>
    <section id="content-header">
      <div class="overlay-info text-center">
        <h1 class="title">Dein gratis Testpaket</h1>
        <a class='button no-text-dec' href="/#trialbox">Wähle deine Größe</a>
      </div>
    </section>
    <section id="trialbox" class="light section-padding">
      <div class="grid-select-trialbox container">
        <div>
          <img class="trialbox" :src="trialboxes[selectedTrialboxOption-1].imageUrl" alt="Trialbox">
          <div class="overlay-logo">
            <img src="https://www.lillydoo.com/bundles/lepweb/img/certificates/oekotex/diapers/oekotex_green_de.svg" alt="Oekotex logo">
          </div>

        </div>
        <div class="select-trialbox">
          <h2>Entdecke unsere Hautfreundlichkeit</h2>
          <p class='uppercase small-margin'>Wähle deine Größe</p>
          <div class='grid-select-buttons'>
            <SelectTrialbox 
              v-for="trialbox in trialboxes" 
              v-bind:key="trialbox.option" 
              v-bind:trialbox="trialbox" v-bind:selectedTrialboxOption="selectedTrialboxOption"
              v-on:select-trialbox="onSelectTrialbox" 
            />
          </div>
          <p>Teste jetzt unsere hautfreundlichen Windeln und erhalte unsere Feuchttücher mit 99&nbsp;% Wasser zu Größe 1&nbsp;-&nbsp;3 oder die Sensitiven Feuchttücher zu Größe 4&nbsp;-&nbsp;5. Wir zahlen die Produkte, Du nur den Versand.</p>
          <ul>
            <li class="primary-color">Automatischer Übergang ins jederzeit kündbare Windel-Abo für 49,50&nbsp;€ pro Lieferung.</li>
            <li>Preise inkl. MwSt., ggf. zzgl. <a class="primary-color no-text-dec" href="">Versandkosten</a></li>
          </ul>
          <button class='full-width'>
            <span>In den Warenkorb legen</span>
          </button>
        </div>
      </div>
    </section>
    <section class="dark section-padding">
      <div class="text-center container">
        <h2>Wie es funktioniert</h2>
      </div>
      <div class="grid-trial-steps container">
        <TrialStep
          v-for="trialStep in trialSteps"
          v-bind:key="trialStep.id"
          v-bind:trialStep="trialStep"
        />
      </div>
    </section>  
    <section class="light section-padding">
      <div class="text-center container">
        <h2>Dein Testpaket enthält</h2>
      </div>
      <div class="grid-trialbox-contents container">
        <ContentTrialbox 
          v-bind:title="trialboxDiapers.label"
          v-bind:imageUrl="trialboxDiapers.imageUrl"
          v-bind:descriptions="trialboxDiapers.descriptions"
        />
        <ContentTrialbox 
          v-bind:title="wipes[selectedWipes].label"
          v-bind:imageUrl="wipes[selectedWipes].imageUrl"
          v-bind:descriptions="wipes[selectedWipes].descriptions"
        />
        
      </div>
    </section>
  </div>
</template>

<script>
  import SelectTrialbox from './components/SelectTrialbox.vue'
  import TrialStep from './components/TrialStep.vue'
  import ContentTrialbox from './components/ContentTrialbox.vue'

  export default {
    name: 'App',
    components: {
      SelectTrialbox,
      TrialStep,
      ContentTrialbox
    },
    methods: {
      onSelectTrialbox: function (newlySelectedTrialboxOption) {
        this.selectedTrialboxOption = newlySelectedTrialboxOption;
      },
      getSelectedWipes: function(selectedTrialboxOption) {
        let selectedTrialbox = this.trialboxes.filter(trialbox => {
          return trialbox.option = selectedTrialboxOption;
        });
        return selectedTrialbox.wipes;
      }
    },
    computed: {
      selectedWipes: function() {
        let selectedTrialbox = this.trialboxes.find(trialbox => trialbox.option === this.selectedTrialboxOption);
        return selectedTrialbox.wipes;
      },
    },
    data: function() {
      return {
        selectedTrialboxOption: 1,
        
        trialboxes: [
          {
            option: 1,
            size: "2-5 KG",
            wipes: "waterWipes",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/trialbox/lillydoo-testpaket-10.jpg",
          },
          {
            option: 2,
            size: "4-8 KG",
            wipes: "waterWipes",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/trialbox/lillydoo-testpaket-20.jpg",
          },
          {
            option: 3,
            size: "6-10 KG",
            wipes: "waterWipes",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/trialbox/lillydoo-testpaket-30.jpg",
          },
          {
            option: 4,
            size: "9-14 KG",
            wipes: "sensitiveWipes",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/trialbox/lillydoo-testpaket-40.jpg",
          },
          {
            option: 5,
            size: "11-16 KG",
            wipes: "sensitiveWipes",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/trialbox/lillydoo-testpaket-50.jpg",
          },

        ],
        wipes: {
          waterWipes: {
            label: '15 Feuchttücher mit 99&nbsp;% Wasser',
            descriptions: [
              "0&nbsp;% Parfüme & PEGs, 100&nbsp;% biologisch abbaubar",
              'Natürlich rein, extra mild, Alternative zu "Wasser & Watte"'
            ],
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/products/wipes/water-wipes-15-small.jpg",

          },
          sensitiveWipes: {
            label: '15 Sensitive Feuchttücher',
            descriptions: [
              "0&nbsp;% Parfüme & PEGs, 100&nbsp;% biologisch abbaubar",
              'Extra dickes und kompostierbares Tuch'
            ],
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/products/wipes/sensitive-wipes-15-small.jpg"
          }
        },
        trialboxDiapers: {
          label: "10 LILLYDOO Windeln",
          descriptions: [
            "0&nbsp;% Parfüme & Lotionen, 100&nbsp;% LILLYDOO Schutz", 
            "Extra weich und super bequem",
            "Mit unseren Turbo Tunneln für eine ideale Passform und schnelle Absorption"
          ],
          imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/lillydoo-little-blowballs-design-preview-tp.jpg"
        },
        trialSteps: [
          {
            id: "your-trialbox",
            title: "Dein Testpaket",
            description: "Wir schenken Dir die Produkte,\nDu übernimmst nur das Porto.",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/cart-summary/lillydoo-your-trialbox-icon.svg"
          },
          {
            id: "your-flexibility",
            title: "Deine Flexibilität",
            description: "Erste Monatsbox nach 14 Tagen für 49,50&nbsp;€ erhalten. Oder noch vor der ersten Lieferung kündigen.",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/cart-summary/lillydoo-your-flexibility-icon.svg",
            linkText: "Erfahre hier mehr über das \nLILLYDOO Windel-Abo."
          },
          {
            id: "your-subscription",
            title: "Deine Monatsbox",
            description: "Jederzeit Windelgröße, Designs und Lieferintervalle anpassen oder weitere Produkte hinzufügen.",
            imageUrl: "https://www.lillydoo.com/bundles/lepweb/img/cart-summary/lillydoo-your-subscription-icon.svg"
          }
        ]
      };
    }
  }
</script>

<style lang="scss">
  @import '../public/variables.scss';
  @import '../public/mixins.scss';

  * {
    box-sizing: border-box;
  }
  body {
    margin: 0; 
  }

  h1, h2, h4,  p, ul, ol, a {
    font-weight: 400;
  }

  p, ul, a, button {
    font-size: 0.92rem;
    line-height: 1.4rem;  
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    font-size: 2.625rem;    
    font-family: 'Raleway', sans-serif;
    @include xs-md {
      font-size: 2.0rem;
    }
  }

  h2 {
    font-size: 1.6rem;  
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 28px;
    @include xs-md {
      font-size: 1.4rem;  
      margin: 0 0 12px;
    }
  }

  h3 {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    @include xs-md {
      font-size: 1.2rem;
    }
  }

  ul {
    padding-left: 16px;
  }

  #content-header {
    background-image: url('https://www.lillydoo.com/bundles/lepweb/img/header/trialbox/header-trialbox-desktop.jpg');
    background-position: center;
    background-size: cover;
    height: 40rem;
    width: 100vw;
    position: relative;
    @include xs-md {
        background-image: url('https://www.lillydoo.com/bundles/lepweb/img/header/trialbox/header-trialbox-mobile.jpg');
        height: 100vh;
        max-height: 35rem;
    }
    .overlay-info {
      background-color: $transparentWhite;
      display: inline-block;
      right: 64px;
      top: 50%;
      padding: 18px 50px 46px;
      position: absolute;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      @include xs-md {
        bottom: 0;
        right: 0;
        padding: 18px 20px 46px;
        top: auto;
        transform: none;
        -ms-transform: none;
        width: 100%;
      }
    }
    .title {
      padding-bottom: 0.4rem;  
    }
  }

  .grid-select-trialbox {
    position:relative;
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-between;
    @include xs-md {
      grid-template-columns: 1fr;
    }

    img.trialbox {
      padding: 40px;
      object-fit: cover;
      max-width: 100%;
      @include xs-md {
        grid-template-columns: 1fr;
        padding: 0 12px 40px;
      }
    }

    .overlay-logo {
      width: 12%;
      position: absolute;
      top: 100px;
      left: 88px;
      @include xs-md {
        width: 24%;
        top: 60px;
        left: 46px;
      }
    }

    .overlay-logo img {
      box-shadow: -2px 2px 6px -2px rgba(0,0,0,.6);
      width: 100%;
    }

    .select-trialbox {
      padding: 0 0 24px 24px;
      position: relative;
      @include xs-md {
        padding: 0;
      }
    }

    .grid-select-buttons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 8px;
      padding: 0 0 14px;
      @include xs-md {
        grid-template-columns: repeat(3, 1fr);
        max-width: 560px;
        padding: 0;
      }
    }
  }
  
  .grid-trial-steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
    width: 100%;
    @include xs-md {
      grid-template-columns: 1fr;
    }
  }

  .grid-trialbox-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 100%;
    @include xs-md {
      grid-template-columns: 1fr;
    }
  }

  .section-padding {
    padding: $sectionPadding;
    @include xs-md {
      padding: $sectionPaddingXsToMd;
    }
  }

  .container {
    width: 100%;
    padding: $containerPadding;
    margin: auto;
    max-width: $containerMaxWidth;
    @include xs-md {
      padding: $containerPaddingXsToMd;
    }
  }

  .button, button {
    background-color: $lillydooBlue;
    border: none;
    color: $white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;        
    padding: 12px 10px;
    &:hover{
      background-color: $lightBlue;
    }
  }

  .overlay-info .button {
    padding-left: 65px;
    padding-right: 65px;
    @include xs-md {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .full-width {
    display: block;
    width: 100%;
  }

  .uppercase {
    text-transform: uppercase;
  }

  p.small-margin {
    margin: 8px 0;
  }

  .text-center {
    text-align: center;
  }

  .primary-color {
    color: $lillydooBlue;
  }

  a.primary-color:hover {
    color: $darkerBlue;
  }

  .no-text-dec {
    text-decoration: none;
  }

  .light {
    background-color: $white;
  }

  .dark {
    background-color: $lightGrey;
  }

</style>
